<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body>
    {% if usuario == None %}
        <h1 style = 'color: red' > No existe el usuario {{id}}</h1>
    {% else %}
        <h2>Usuario con id: {{id}}</h2>
        <ul>
            <li>Nombre:    {{usuario}}   </li>
            <li>email:     {{email}}     </li>
            <li>Teléfono:  {{telefono}}  </li>
            <li>Dirección: {{direccion}} </li>
        </ul>
    {% endif %}
</body>
</html>